<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EmploymentApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    
    
  </welcome-file-list>
  
  <session-config>
		<session-timeout>3</session-timeout>
	</session-config>
  
<servlet>
		<servlet-name>statedb</servlet-name>
		<servlet-class>
			com.employmentapp.controller.StateControl
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>statedb</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>  

<!-- ##################end of state db################## -->

	 <!--	<servlet>
			<servlet-name>regist</servlet-name>
			<servlet-class>com.employmentapp.RegisterController</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>regist</servlet-name>
			<url-pattern>/test</url-pattern>
		</servlet-mapping>		  -->
		
<!-- ##################end of register################## -->

		<servlet>
			<servlet-name>lgout</servlet-name>
			<servlet-class>com.employmentapp.controller.Logout</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>lgout</servlet-name>
			<url-pattern>/logout</url-pattern>
		</servlet-mapping>

<!-- ##################end of logout################## -->


		<servlet>
			<servlet-name>ureracc</servlet-name>
			<servlet-class>com.employmentapp.controller.RegisterController</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>ureracc</servlet-name>
			<url-pattern>/account</url-pattern>
		</servlet-mapping>
		
<!-- ##################end of user account ################## -->


<!-- Home.jsp -->

		<servlet>
			<servlet-name>hm</servlet-name>
			<servlet-class>com.employmentapp.controller.LoginServlet</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>hm</servlet-name>
			<url-pattern>/home</url-pattern>
		</servlet-mapping>

<!-- ################## end of home ################## -->

<!-- Home.jsp -->

		<servlet>
			<servlet-name>hme</servlet-name>
			<servlet-class>com.employmentapp.controller.EmployerLoginServlet</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>hme</servlet-name>
			<url-pattern>/homemp</url-pattern>
		</servlet-mapping>

<!-- ################## end of home ################## -->


									
							

<!-- job search.jsp -->							
				
		<servlet>
			<servlet-name>SearchJobs</servlet-name>
			<servlet-class>com.employmentapp.controller.SearchJobs</servlet-class>
		</servlet>	
		
		<servlet-mapping>
			<servlet-name>SearchJobs</servlet-name>
			<url-pattern>/SearchJobs</url-pattern>
		</servlet-mapping>	
		
			<servlet>
			<servlet-name>JobSearchControl</servlet-name>
			<servlet-class>com.employmentapp.controller.JobSearchControl</servlet-class>
		</servlet>	
		
		<servlet-mapping>
			<servlet-name>JobSearchControl</servlet-name>
			<url-pattern>/JobSearchControl</url-pattern>
		</servlet-mapping>	
		
<!-- ################## end of job search ################## -->

<servlet>
			<servlet-name>UserAddCV</servlet-name>
			<servlet-class>com.employmentapp.controller.UserAddCV</servlet-class>
		</servlet>	
		
		<servlet-mapping>
			<servlet-name>UserAddCV</servlet-name>
			<url-pattern>/UserAddCV</url-pattern>
		</servlet-mapping>	
		
		

<!-- employer page.jsp -->							
				
		<servlet>
			<servlet-name>EmployerPage</servlet-name>
			<servlet-class>com.employmentapp.controller.EmployermainpageControl</servlet-class>
		</servlet>	
		
		<servlet-mapping>
			<servlet-name>EmployerPage</servlet-name>
			<url-pattern>/EmployerPage</url-pattern>
		</servlet-mapping>	
		
<!-- ################## end of employer page ################## -->

<!-- employer register page.jsp -->							
				
		<servlet>
			<servlet-name>EmployerRegister</servlet-name>
			<servlet-class>com.employmentapp.controller.EmployerRegisterControl</servlet-class>
		</servlet>	
		
		<servlet-mapping>
		
			<servlet-name>EmployerRegister</servlet-name>
			
			<url-pattern>/EmployerRegisterControl</url-pattern>
			
		</servlet-mapping>	
		
<!-- ################## end of employer register page ################## -->


<!-- user update details.jsp -->							
				
		<servlet>
			<servlet-name>UserUpdateDetails</servlet-name>
			<servlet-class>com.employmentapp.controller.UserUpdateController</servlet-class>
		</servlet>	
		
		<servlet-mapping>
		
			<servlet-name>UserUpdateDetails</servlet-name>
			
			<url-pattern>/UserUpdateDetails</url-pattern>
			
		</servlet-mapping>	
		
<!-- ################## end of employer register page ################## -->


		<!-- Setting -->

		<servlet>
			<servlet-name>set</servlet-name>
			<servlet-class>com.employmentapp.controller.SettingServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>set</servlet-name>
			<url-pattern>/setting</url-pattern>
		</servlet-mapping>
<!-- ################## Setting ################## -->

					<!-- Update Setting -->
					
		<servlet>
			<servlet-name>updateset</servlet-name>
			<servlet-class>com.employmentapp.controller.UpdatesetControl</servlet-class>
		</servlet>			
	
		<servlet-mapping>
			<servlet-name>updateset</servlet-name>
			<url-pattern>/updated</url-pattern>
		</servlet-mapping>
<!-- User Detail (My info) -->
		<servlet>
		<servlet-name>details</servlet-name>
		<servlet-class>com.employmentapp.controller.UsrDetailControl</servlet-class>
		</servlet>						
						
		<servlet-mapping>
		<servlet-name>details</servlet-name>
		<url-pattern>/detail</url-pattern>
		</servlet-mapping>
	<!-- ###################User Detail (My info)################### -->	
	
	
					<!--  Pay Bill  -->
		<servlet>
			<servlet-name>billpay</servlet-name>
			<servlet-class>com.employmentapp.controller.PayBillServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
		<servlet-name>billpay</servlet-name>
			<url-pattern>/paybill</url-pattern>
		</servlet-mapping>
		
									<!-- Filter -->

		<filter>
			<filter-name>fltr</filter-name>
			<filter-class>com.employmentapp.utility.UrlFilter</filter-class>
		</filter>
		
		<filter-mapping>
			<filter-name>fltr</filter-name>
			<servlet-name>billpay</servlet-name>
		</filter-mapping>

		<filter-mapping>
			<filter-name>fltr</filter-name>
			<servlet-name>hm</servlet-name>
		</filter-mapping>
		
		<filter-mapping>
			<filter-name>fltr</filter-name>
			<servlet-name>bal</servlet-name>
		</filter-mapping>
		
 		<filter-mapping>
			<filter-name>fltr</filter-name>
			<servlet-name>transfer</servlet-name>
		</filter-mapping>  
		
		<filter-mapping>
			<filter-name>fltr</filter-name>
			<servlet-name>stmts</servlet-name>
		</filter-mapping>
		
		<filter-mapping>
			<filter-name>fltr</filter-name>
			<servlet-name>trans</servlet-name>
		</filter-mapping>	
		
		<filter-mapping>
			<filter-name>fltr</filter-name>
			<servlet-name>dtoftrans</servlet-name>
		</filter-mapping>
		
		<filter-mapping>
			<filter-name>fltr</filter-name>
			<servlet-name>details</servlet-name>
		</filter-mapping>
		
		<filter-mapping>
			<filter-name>fltr</filter-name>
			<servlet-name>set</servlet-name>
		</filter-mapping>
		
		<filter-mapping>
			<filter-name>fltr</filter-name>
			<servlet-name>updateset</servlet-name>
		</filter-mapping>				
								
										
										<!-- Filter  Ends  -->
										
</web-app>